<header class="bg-background w-full top-0 sticky z-50 border-b-2 border-primary">
    <nav class="flex justify-between items-center px-margin-desktop py-4 max-w-container-max mx-auto">
        <div class="font-headline-md text-headline-md font-bold tracking-tighter text-primary">
            SHREESHAKTI
        </div>
        <div class="hidden md:flex items-center gap-8">
            <a class="font-label-bold text-label-bold text-secondary border-b-2 border-secondary pb-1 transition-colors duration-200" href="{% url 'home' %}">Home</a>
            <a class="font-label-bold text-label-bold text-on-background hover:text-secondary transition-colors duration-200" href="{% url 'about' %}">About</a>
            <a class="font-label-bold text-label-bold text-on-background hover:text-secondary transition-colors duration-200" href="{% url 'projects' %}">Projects</a>
            <a class="font-label-bold text-label-bold text-on-background hover:text-secondary transition-colors duration-200" href="{% url 'contact' %}">Contact</a>
        </div>
        <a href="{% url 'contact' %}"><button class="bg-secondary-container text-on-secondary-container font-label-bold text-label-bold px-6 py-3 border-2 border-primary hover:bg-primary hover:text-on-primary transition-all duration-200 uppercase structural-layer">
            Get a Quote
        </button>
        </a>
    </nav>
</header>